body{
    background-size: cover;
    background-position: center;
}
.heading{
    width: 100%;
    font-size: 35px;
    margin-top: 0;
    border: 5px solid rgba(0, 0, 0, 0.63);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.note{
    width: 100%;
    font-size: 20px;
   margin-top: 0;
    border: 5px solid rgba(0, 0, 0, 0.63);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#input1{
    width: min-content;
}
label{
    color: aliceblue;
    font-weight: bolder;
}
#status,#object_found{
    color: aliceblue;
    font-weight: 300px;
}
canvas{
    border: 2px solid white;
    box-shadow: 5px 5px 5px white;
    border-radius: 100%;
    margin-top: 20px;
}
#start{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
#start:hover{
    font-size: 40px;
    background-color: aquamarine;
}
